<div class="card-group">
  <div class="card" style="width: 18rem;">
    <img src="assets/Resimler/asusEkran1.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ekran</h5>
      <p class="card-text">Asus VP228HE 21.5" 1ms (Analog+HDMI) Full HD Multimedia Monitör</p>
      <button type="submit" class="btn btn-primary">Satın Al</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/Resimler/asusEkran1.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ekran</h5>
      <p class="card-text">Asus VP228HE 21.5" 1ms (Analog+HDMI) Full HD Multimedia Monitör</p>
      <button type="submit" class="btn btn-primary">Satın Al</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/Resimler/asusEkran1.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ekran</h5>
      <p class="card-text">Asus VP228HE 21.5" 1ms (Analog+HDMI) Full HD Multimedia Monitör</p>
      <button type="submit" class="btn btn-primary">Satın Al</button>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card" style="width: 18rem;">
    <img src="assets/Resimler/asusEkran1.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ekran</h5>
      <p class="card-text">Asus VP228HE 21.5" 1ms (Analog+HDMI) Full HD Multimedia Monitör</p>
      <button type="submit" class="btn btn-primary">Satın Al</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/Resimler/asusEkran1.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ekran</h5>
      <p class="card-text">Asus VP228HE 21.5" 1ms (Analog+HDMI) Full HD Multimedia Monitör</p>
      <button type="submit" class="btn btn-primary">Satın Al</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/Resimler/asusEkran1.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Ekran</h5>
      <p class="card-text">Asus VP228HE 21.5" 1ms (Analog+HDMI) Full HD Multimedia Monitör</p>
      <button type="submit" class="btn btn-primary">Satın Al</button>
    </div>
  </div>
</div>



