<router-outlet></router-outlet>

  <!-- Header Kısmı -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-Header></app-Header>
      </div>
    </div>
  </div>
<!-- Header Kısmı -->

<!-- Body Kısmı -->
<div class="container p-5">
  <div class="row">
    <div class="col-sm-12">
      <app-deneme></app-deneme>
    </div>
  </div>
</div>
<!-- Body Kısmı -->

<!-- Footer Kısmı -->
<footer class="bg-light text-center text-lg-start">
  <div class="container p-4 pb-0"><app-Footer></app-Footer></div>
</footer>
<!-- Footer Kısmı -->
