<!doctype html>
<html lang="tr">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-primary" (click)="numberCountUp()">Sayıyı Arttır</button>
      </div>
      <div class="col-sm-4">
        <strong>Sayı: {{count}}</strong>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-danger" (click)="numberCountDown()">Sayıyı Azalt</button>
      </div>
    </div>
    <hr>
    <div *ngFor="let name of names">{{name}}</div>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Ad</th>
          <th>Mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td scope="row">{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div *ngIf="isShow">Bu deneme yazısıdır.</div>
    <button class="btn btn-danger" (click)="showDenemeClose()">Yazıyı Kapat</button>
    <button class="btn btn-success" (click)="showDenemeOpen()">Yazıyı Aç</button>
    <hr>
    <div class="col-sm-6">
      <p>{{person1.firstName | lower}}</p>
    </div>
    <hr>
    <input class="form-control" type="text" name="" id="" #name>
    <button class="btn btn-primary" (click)="name.focus()">Yazdır</button>
    <hr>
    <form #saveForm="ngForm" (ngSubmit)="save(saveForm)">
      <label for="userName" class="form-label">Template Form Kullanımları</label>
      <hr>
      <label for="userName" class="form-label">Kullanıcı Adı</label>
      <input type="text" name="userName" class="form-control" [ngModel]="loginModel.userName">

      <label for="password" class="form-label">Şifre</label>
      <input type="password" name="password" class="form-control" [ngModel]="loginModel.password">

      <input class="form-check-input" type="checkbox" name="rememberMe" [ngModel]="loginModel.rememberMe">
      <label class="form-check-label" for="defaultCheck1">
        Beni Hatırla
      </label>

      <button type="submit" class="btn btn-success mt-2">
        Giriş
      </button>
    </form>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="saveReactive()">
      <label for="" class="form-label">Reactive Forms Kullanımları</label>
      <hr>
      <label for="" class="form-label">Kullanıcı Adı</label>
      <input type="text" id="" class="form-control" formControlName="userName">
      <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)">
        <strong *ngIf="loginForm.get('userName')?.errors?.['required']">Kullanıcı Adı Zorunludur.!</strong>
      </div>

      <label for="" class="form-label">Şifre</label>
      <input type="password" id="" class="form-control" formControlName="password">

      <button type="submit" class="btn btn-success mt-2">
        Giriş
      </button>
    </form>
  </div>
</body>

</html>
