<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Angular 15 Çalışması</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Ürünler">Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Hakkımızda">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/İletişim">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Admin">Admin</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Ara</button>
      </form>
    </div>
  </div>
</nav>
